---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../styles/bio.css";
---

<Layout title="About Me - dshaw0004" description="Know more about me">
	<Header title="About Me" />
	<section id="about" class="section aboutSection" transition:name="bio">
		<div>
			<img src={"/mypic.webp"} class="mypic" alt="placeholder image" />
		</div>
		<div>
			<p class="bio">
				Hi, my name is <strong>Dipankar Shaw</strong>, <wbr /> I'm a <strong
					>Web Developer</strong
				> with a good knowledge in <strong>NodeJs</strong> and <strong
					>Python</strong
				>.<wbr /> Over the time I&nbsp;developed a skill set in a range of technologies
				and frameworks, including React, ExpressJs, Firebase and SCSS.<wbr /> Where
				I&nbsp;really value clean and readable code. Also I'm passionate about UX
				/ UI. <br /><br />
			</p>
		</div>
	</section>
	<section class="skill-section" aria-label="my skill set">
		<p>I have expertise in front-end web development technologies</p>
		<ul class="skills-list major">
			<li><a href="/skills/vanillaweb">HTML</a></li>
			<li><a href="/skills/vanillaweb">CSS</a></li>
			<li><a href="/skills/vanillaweb">JS</a></li>
			<li><a href="/skills/reactjs">React JS</a></li>
		</ul><br />
		<p>with some basic knowledge in</p>
		<ul class="skills-list minor">
			<li><a href="/skills/astrojs">Astro JS</a></li>

			<li><a href="/skills/python">Python</a></li>
			<li><a href="/skills/nodejs">Node JS</a></li>
			<!-- <li><a href="/skills/basic-computer">MS Word</a></li>
			<li><a href="/skills/basic-computer">MS Excel</a></li>
			<li><a href="/skills/basic-computer">MS Powerpoint</a></li> -->
		</ul>
	</section>

	<Footer />
</Layout>
<style>
	.skill-section {
		max-width: 900px;
		padding: 0 1em;
		margin-inline: auto;
	}
	.skills-list {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 0.5em 1em;

		/* justify-content: space-around; */
		/* flex-wrap: wrap; */
	}
	.skills-list li {
		/* background-color: rgb(225, 225, 240, 0.4); */
		/* min-width: 150px; */
		border-radius: 1ch;
		text-align: center;
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		background-color: #f0f0ff20;
		color: var(--color);
	}
	.skills-list.major li {
		/* width: clamp(250px, 48%, 400px);
		flex-grow: 2; */
		background-color: #f0f0ff27;
	}
	.skills-list.minor li {
		/* width: clamp(200px, 47%, 350px);
		flex-grow: 1; */
		background-color: #f0f0ff10;
	}
	.skills-list li:hover,
	.skills-list li:focus-within {
		background-color: #f0f0ff40;
		box-shadow: 0 0 4px rgb(var(--accent-dark));
		transform: translateY(2px);
	}
	.skills-list li a {
		font-weight: 600;
		text-decoration: none;
		display: inline-block;
		height: 100%;
		width: 100%;
		line-height: 2;
		border-radius: inherit;
	}
</style>
