---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/certificates.css";
---

<Layout>
    <Header title="My Certificates" />
    <main class="certificates-page">
        <h1>My Certificates</h1>
        <div class="certificates-grid">
            <div class="certificate-item">
                <h3>Python Programming</h3>
                <div class="certificate-preview">
                    <img src="/python-certificate.png" alt="Python Certificate" />
                </div>
                <a href="https://drive.google.com/file/d/1oPI9XT_nMWiiouczqMcQqGEeTjs6Gq2L/view" target="_blank" rel="noopener" class="view-certificate">
                    View Certificate
                </a>
            </div>
            <div class="certificate-item">
                <h3>ReactJS Development</h3>
                <div class="certificate-preview">
                    <img src="/reactjs-certificate.png" alt="ReactJS Certificate" />
                </div>
                <a href="https://drive.google.com/file/d/1qf5MzSME-MtcKKlQlhWBA4cRNXmTmAbM/view" target="_blank" rel="noopener" class="view-certificate">
                    View Certificate
                </a>
            </div>
            <div class="certificate-item">
                <h3>JavaScript Development</h3>
                <div class="certificate-preview">
                    <img src="/javascript-certificate.png" alt="JavaScript Certificate" />
                </div>
                <a href="https://drive.google.com/file/d/1GUT8w1InFkEShFHUZ7VFbPgo7BFRGqNM/view" target="_blank" rel="noopener" class="view-certificate">
                    View Certificate
                </a>
            </div>
            <div class="certificate-item">
                <h3>HTML Development</h3>
                <div class="certificate-preview">
                    <img src="/javascript-certificate.png" alt="JavaScript Certificate" />
                </div>
                <a href="https://drive.google.com/file/d/10fIikowWW3A4pqddqb3Cbk7kaByb-RCG/view?usp=drive_link" target="_blank" rel="noopener" class="view-certificate">
                    View Certificate
                </a>
            </div>
            <div class="certificate-item">
                <h3>CSS Development</h3>
                <div class="certificate-preview">
                    <img src="/javascript-certificate.png" alt="JavaScript Certificate" />
                </div>
                <a href="https://drive.google.com/file/d/1Su6k4OJNTfpv0w-nuFn85qPjS-REq4mX/view?usp=drive_link" target="_blank" rel="noopener" class="view-certificate">
                    View Certificate
                </a>
            </div>
            <div class="certificate-item">
                <h3>Bash Scripting</h3>
                <div class="certificate-preview">
                    <img src="/bash-scripting-certificate.png" alt="Bash Scripting Certificate" />
                </div>
                <a href="https://drive.google.com/file/d/1FfLA_4mwpEsSbf2HqLSS2vyibPorsTQd/view" target="_blank" rel="noopener" class="view-certificate">
                    View Certificate
                </a>
            </div>
            <!-- Add more certificates here -->
        </div>
    </main>
    <Footer />
</Layout> 
