---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<Header />
	<main>
		<b>Coming Soon...</b>
	</main>
	<Footer />
</Layout>
<style>
	main {
		display: grid;
		place-items: center;
		min-height: 60vh;
		font-size: 2rem;
	}
</style>
