---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/bio.css";
import "@/styles/homepage.css";
---

<Layout>
	<Header title={"Dipankar Shaw"} />
	<main>
		<div class="welcomeSection">
			<h1>Hi, I am Dipankar</h1><p>Welcome to my site</p>
		</div>
		<section id="about" class="">
			<!-- <div> -->
			<!-- 	<img src={"/mypic.webp"} class="mypic" alt="placeholder image" /> -->
			<!-- </div> -->
            <h2>About Me:</h2>
			<div class="bio">
				<p>
                Self-taught, versatile <b>Web Developer</b> with expertise in <b>Python</b>,
                React, Flask, Firebase, 
                and a passion for clean code and exceptional UX/UI design.
				</p>
			</div>
            <div class="main-skills">
				<ul class="skills-list ">
                        <li>
                                <div>
                                        <h4>Python</h4>
                                        <p>GUI Applications, Web Scrapers, REST APIs</p>
                                        <a href="/skills/python" role="button">
                                                Know More...
                                        </a>
                                </div>
                        </li>
                        <li>
                                <div>
                                        <h4>Web Development</h4>
                                        <p>Basic webpage using HTML,CSS, JS and Single page Applications using React</p>
                                        <a href="/skills/webdev" role="button">
                                                Know More...
                                        </a>
                                </div>
                        </li>
                        <!-- <li> -->
                        <!--         <div> -->
                        <!--                 <h4>And More</h4> -->
                        <!--                 <p>Not limited to these two.</p> -->
                        <!--                 <a href="/skills/comingsoon" role="button"> -->
                        <!--                         Know More... -->
                        <!--                 </a> -->
                        <!--         </div> -->
                        <!-- </li> -->
				</ul>

            </div>
		</section>
	</main>
	<Footer />
</Layout>
