---
import Card from "@/components/Card.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import utilcss from "@/styles/util.module.css";
---

<Layout>
        <Header />
        <main class="main-content">
                <h1 aria-label="my skills in python">Python</h1>
                <p>
                Python is one of the most popular general purpose programming language.
                The thing I love most about python is I can do some much things with it,
                like -
                <ul style="padding-left: 1em;">
                        <li>It can be used to create apps for all operating systems like windows, android etc.</li>
                        <li>It can be used to create backend server using it</li>
                        <li>It can be to create my own A.I.</li>
                        <p>and the list go one. So let's talk about my Python skills.</p>
                </ul>
                </p>
                <p></p>
                <br />
                <h2>What do I do in Python ?</h2>
                <p>
                Starting from creating RESTful API using Flask to creating a GUI Application for windows, 
                I do lots of things in Python
                </p>
                <p>
                Here are few of my <b>Python Projects</b>.
                </p>
                <ul
                                class={`${utilcss.cardContainer} project-list`}
                                aria-label="list of my projects"
                                >
                                <Card
                                                title="CatPics"
                                                href="https://dshaw0004.pythonanywhere.com/catpics"
                                                body="CatPics is a simple social media like application for share your cat pictures only."
                                                />
                                <Card
                                                title="Headache"
                                                href="https://github.com/dshaw0004/headache"
                                                body="A new esoteric programming language that is inspired by Brainf*ck."
                                                />
                                <Card
                                                title="PyApps"
                                                href="https://pyapps.web.app"
                                                body="You can download my python windows apps from this site."
                                                />
                                <Card
                                                title="Coming Soon..."
                                                href="/comingsoon"
                                                body="As I develop more sites using astro, more projects will be added here."
                                                toplevellink={true}
                                                />
                </ul>
        </main>
        <Footer />
</Layout>
