---
import "@/styles/global.css";
import { SEO } from "astro-seo";

interface Props {
	title?: string;
	description?: string | undefined;
}

const { title = "dshaw0004", description = "my personal website" } =
	Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="its d32.png" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			charset="UTF-8"
			title={title}
			titleDefault="Dipankar Shaw's Portfolio"
			description={description}
			openGraph={{
				basic: {
					title: "Dipankar Shaw",
					image: "its d32.png",
					type: "website",
				},
				image: {
					url: "its d128.png",
					height: 360,
					width: 360,
					alt: "dshaw0004",
				},
				optional: {
					description: description,
					locale: "en-IN",
					siteName: "dshaw0004",
				},
			}}
			twitter={{
				creator: "@dshaw0004",
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: "icon", href: "its d32.png", type: "image/png" }],
				// extending the default meta tags
				// meta: [
				//   {
				//     name: "twitter:image",
				//     content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
				//   },
				//   { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
				//   { name: "twitter:description", content: "Agent" },
				// ],
			}}
		/>
	</head>
	<body class="dark">
		<slot />
		<style is:global>
			* {
				margin: 0;
				padding: 0;
			}
			body {
				position: relative;
			}

			:root {
				color-scheme: light dark;
				/* color: #ffffffde; */
				/* background-color: #242424; */
				font-synthesis: none;
				text-rendering: optimizeLegibility;
			}
			html {
				font-family: system-ui, sans-serif;
				/* background: #13151a; */
				background-size: 224px;
				/* background: var(--accent-dark-gradient) no-repeat; */
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
			}
			.section {
				height: 100vh;
				height: 100dvh;
				padding-top: 2rem;
			}
		</style>
	</body>
</html>
